<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content_old="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
	<meta name="title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="description" content="SK텔레콤과 함께하는 BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="keywords" content="SK텔레콤, BTS, 방탄소년단, BTS &lt;Yet to Come&gt; in BUSAN, 티켓 이벤트" />
	<meta property="og:title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<link rel="icon" href="../../../resources/images/favicon.ico" />
	<link rel="stylesheet" href="../../../resources/css/style.css" />
	<link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
	<link rel="stylesheet" href="../../../resources/plugins/datepicker/jquery-ui.css" />
	<script src="../../../resources/plugins/jquery-2.2.4.min.js"></script>
	<script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
	<script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery-ui.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery-ui-ko.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery.ui.monthpicker.js"></script>
	<script src="../../../resources/js/common-ui.js"></script>
	<title>BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트</title>
	<!-- Google Tag Manager -->
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-T67MBVM');
	</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<div id="container">
		<!-- 컨텐츠 -->
		<main id="content">
			<!-- 히어로 영역 -->
			<article class="main-area__hero">
				<div class="section-inner">
					<h1 class="title">
						<strong><img src="../../../resources/images/main/hero-title.png" alt="SK텔레콤에서 휴대폰 구매하고 BTS &lt;Yet to Come&gt; in BUSAN"></strong>
						<span>티켓 교환권을 받아보세요!</span>
					</h1>
					<figure><img src="../../../resources/images/main/hero-poster.png" alt="[WORLD EXPO 2030 BUSAN KOREA CONCERT] BTS - Yet to Come in BUSAN / 2022.10.15. SAT 6PM / BUSAN ASIAD MAIN STADIUM"></figure>
					<p class="text"><span class="pad-linebreak mobile-linebreak">갖고 싶었던 휴대폰이 있었다면?</span> 지금 SK텔레콤에서 휴대폰 구매하고,<br><strong><span class="pad-linebreak mobile-linebreak">BTS &lt;Yet to Come&gt; in BUSAN</span> 티켓 래플 이벤트에 응모하세요!</strong><br><br>이벤트 응모하신 고객에게 추첨을 통해<br><span class="pad-linebreak"><strong>BTS &lt;Yet to Come&gt; in BUSAN 티켓 교환권</strong>을</span> 총 900분(1인1매)께 드립니다.</p>
					<div class="countdown-wrap">
						<h2 class="sub-title"><span>응모 마감까지 남은 시간</span></h2>
						<ul class="time-box">
							<li>
								<div class="time__days">
									<span>0</span>
									<span>1</span>
								</div>
								<span class="time-unit">Days</span>
							</li>
							<li>
								<div class="time__hours">
									<span>0</span>
									<span>1</span>
								</div>
								<span class="time-unit">Hours</span>
							</li>
							<li>
								<div class="time__minutes">
									<span>0</span>
									<span>1</span>
								</div>
								<span class="time-unit">Minutes</span>
							</li>
						</ul>
					</div>
				</div>
			</article>
			<!-- //히어로 영역 -->
			<!-- 이벤트 안내 영역 -->
			<article class="main-area__info event">
				<div class="section-inner">
					<div class="area-title-box">
						<h3 class="title">이벤트 안내</h3>
					</div>
					<dl class="area-info-box">
						<dt class="area-info-title">응모 기간</dt>
						<dd class="area-info-cont">2022년 9월 30일(금)~10월 11일(화)</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">대상</dt>
						<dd class="area-info-cont"><span class="mobile-linebreak">응모 기간 중</span> SK텔레콤 공식대리점 및 T다이렉트샵에서<br>스마트폰 신규/기변 개통 완료 고객님<br><small>※ 데이터 함께쓰는 요금제, 선불 요금제, 스마트워치, 태블릿 등 특수 단말 제외</small></dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">혜택 및 당첨 인원</dt>
						<dd class="area-info-cont">BTS &lt;Yet to Come&gt; in BUSAN 티켓 교환권<br>900명 (1인 1매)</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">당첨자 발표</dt>
						<dd class="area-info-cont">2022년 10월 12일(수)<br><small>※ 당첨여부는 응모내역에서 확인 하실 수 있습니다.</small></dd>
					</dl>
					<dl class="area-info-box" id="anchorSubmit"> <!-- 20220927 zoe 수정 -->
						<dt class="area-info-title">참여방법</dt>
						<dd class="area-info-cont">
							<ul class="event-step-box">
								<li>
									<span class="label">Step 1.</span>
									<p>SK텔레콤에서 휴대폰 구매 및 개통</p>
								</li>
								<li>
									<span class="label">Step 2.</span>
									<p>이벤트 페이지의 [응모하기] 버튼을 눌러서 응모</p>
								</li>
							</ul>
						</dd>
					</dl>
					<div class="event-check-box area-info-box">
						<h4 class="area-info-title">응모 전 확인해주세요!</h4>
						<div class="area-info-cont">
							<label>
								<input type="checkbox">
								<span class="text">응모하신 분의 이름과 휴대폰 번호가 개통하신 분의 개인정보와 동일해야 합니다.<br>정보가 다를 경우 당첨될 수 없습니다.</span>
							</label>
							<label>
								<input type="checkbox">
								<span class="text">비정상적이거나 불법적인 방법으로 이벤트에 참여한 경우 경품 당첨이 취소될 수 있습니다.</span>
							</label>
							<label>
								<input type="checkbox">
								<span class="text">티켓 교환권은 타인에게 양도 불가합니다. 타인에게 양도 시 현장에서 입장 되지 않습니다.</span>
							</label>
						</div>
					</div>
					<div class="area-btn-wrap">
						<a href="javascript:void(0);" class="btn round large" ga_category="SKTXBTS_메인" ga_action="메인 버튼" ga_label="응모하기 중단 버튼">응모 하기</a>
					</div>
				</div>
			</article>
			<!-- //이벤트 안내 영역 -->
			<!-- 공연 안내 영역 -->
			<article class="main-area__info festa">
				<div class="section-inner">
					<div class="area-title-box">
						<h3 class="title">공연 정보</h3>
						<p class="copy">2030 부산세계박람회 유치 기원 콘서트<br>BTS &lt;Yet to Come&gt; in BUSAN은<br>온·오프라인으로 동시에 진행되는 무료 공연입니다.</p>
					</div>
					<dl class="area-info-box">
						<dt class="area-info-title">공연 정보</dt>
						<dd class="area-info-cont"><span class="pad-linebreak mobile-linebreak">2030 부산세계박람회 유치 기원 콘서트</span> BTS &lt;Yet to Come&gt; in BUSAN</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">공연 일시</dt>
						<dd class="area-info-cont">2022년 10월 15일(토) 6PM(KST)</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">공연 시간</dt>
						<dd class="area-info-cont">90분</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">공연 장소</dt>
						<dd class="area-info-cont">
							<span class="mobile-linebreak">부산광역시 연제구 월드컵대로 344 </span>부산 아시아드 주경기장
							<figure><img src="../../../resources/images/main/festa-map.png" alt="공연장소 장소 지도 이미지"></figure>
							<small><b>지하철</b> : 3호선 종합운동장역 9번 출구 / 사직역 1번 출구<br><b>버스</b> : 10, 33-1, 54, 83-1, 111-1, 210</small>
						</dd>
					</dl>
				</div>
			</article>
			<!-- //공연 안내 영역 -->
			<!-- 기타 안내 영역 -->
			<article class="common-area__etc">
				<div class="section-inner">
					<dl class="area-info-box">
						<dt class="area-info-title">문의처</dt>
						<dd class="area-info-cont"><b>Mail</b> : skt.new0s@gmail.com<br><b>전화</b> : 02-6958-1972<br><b>운영 시간</b> : 평일 오전 10시~오후 5시, 점심시간 낮 12시~오후 1시, 공휴일 휴무</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">유의 사항</dt>
						<dd class="area-info-cont">
							<b>응모 관련</b>
							<span class="indent-text">만 14세 이상 개인 고객님은 누구나 응모하실 수 있습니다.(법인 고객은 응모 대상이 아님)</span>
							<span class="indent-text">이 이벤트는 기간 내 SK텔레콤에서 휴대폰 구매 및 개통 완료한 고객님을 대상으로 추첨합니다..<br>(데이터 함께쓰기 요금제, 선불 요금제, 스마트워치, 태블릿 등 특수 단말 제외)</span>
							<span class="indent-text">이벤트 당첨자는 이벤트 당첨자 발표일인 2022년 10월 12일(수)에 응모 내역을 통해 당첨 확인 가능합니다.</span>
							<span class="indent-text">해당 이벤트는 SKT에서 진행하는 타 이벤트와 중복 응모가 가능합니다.<br>단, 동일한 이벤트에 한해 중복으로 참여하셔도 1인당 1회만 추첨 기회가 주어집니다. (*여러 회선 개통 시에도 1회로 인정)</span>
							<span class="indent-text">응모하신 분의 이름과 휴대폰 번호가 개통하신 분의 개인정보와 동일해야 합니다. 정보가 다를 경우 당첨될 수 없습니다.</span>
							<span class="indent-text">제품 구매 및 개통을 취소하실 경우 당첨이 취소됩니다.</span>
							<span class="indent-text">비정상적이거나 불법적인 방법으로 이벤트에 참여한 경우 경품 당첨이 취소될 수 있습니다.</span>
							<span class="indent-text">개인정보를 입력하지 않거나 잘못 입력한 경우, 또는 휴대폰을 해지/정지 및 번호를 변경한 경우 당첨이 취소될 수 있습니다.</span>
						</dd>
						<dd class="area-info-cont">
							<b>경품 관련</b>
							<span class="indent-text">이벤트 당첨자는 응모 내역을 통해 당첨 확인 후 참석 여부를 확인해야합니다.</span>
							<span class="indent-text">BTS &lt;Yet to Come&gt; in BUSAN 참석 여부 확인 후 참석 시에 티켓 교환 QR코드가 생성됩니다.</span>
							<span class="indent-text">이벤트 당첨자는 콘서트 당일인 2022년 10월 15일(토)에 안내된 시간에 맞춰 SK텔레콤 티켓 교환 부스로 오셔야 합니다.</span>
							<span class="indent-text">SK텔레콤 티켓 교환 부스에서 QR 코드와 신분증 확인 후 <티켓 교환권>을 받을 수 있습니다. (1인 1매)<br>※ 신분증의 범위 : 주민등록증(유효기간 내의 주민등록증발급신청확인서), 운전면허증(모바일 운전면허증 불인정), 여권(만료일 이내, 주민등록번호가 없는 여권의 경우 여권정보증명서를 함께 제시해야 함), 외국인등록증, 영주증, 청소년증<br>(유효기간 내의 청소년증발급신청확인서) 해당 경품을 타인이 대리 수령 할 수 없습니다.</span>
							<span class="indent-text">티켓 교환권은 콘서트 당일 오전 11시부터 주경기장 옆 보조경기장의 ‘스폰서 티켓 교환부스’에서 입장 팔찌로 교환 가능합니다.</span>
							<span class="indent-text">티켓 교환권은 콘서트 티켓이 아니며, 반드시 입장 팔찌와 교환해야 공연 관람이 가능합니다.</span>
							<span class="indent-text">티켓 교환권은 분실 시에 어떠한 경우에도 재발행되지 않습니다. (사진 등으로 입장 팔찌 교환 불가)</span>
							<span class="indent-text">경품 당첨에 대한 자세한 내용은 문자메시지(MMS)를 통해 안내해 드릴 예정입니다.</span>
							<span class="indent-text">당첨자 발표일은 당사 및 제휴사 사정에 의해 늦어지거나 변경될 수 있습니다.</span>
						</dd>
						<dd class="area-info-cont">
							<b>개인정보 관련</b>
							<span class="indent-text">이 이벤트와 관련한 개인정보 수집 동의는 개인정보 보호법 규정을 따릅니다.</span>
							<span class="indent-text">해당 동의를 통해 수집한 개인정보는 경품 발송 목적으로만 사용되며, 이벤트 종료 후 60일 안에 파기됩니다.</span>
						</dd>
						<dd class="area-info-cont">
							<b>이 이벤트는 SK텔레콤의 위탁을 받아 대행사에서 운영, 관리합니다.<br>이 이벤트는 SK텔레콤 및 제휴사 사정에 따라 내용 변경, 시행 취소 또는 일찍 종료될 수 있습니다.</b>
						</dd>
					</dl>
				</div>
			</article>
			<!-- //기타 안내 영역 -->
		</main>
		<!-- //컨텐츠 -->
		<!-- 플로팅 메뉴 -->
		<ul id="floatMenu">
			<li>
				<a href="javascript:void(0);" class="float-menu" id="scrlToSubmit" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모하기 플로팅"> <!-- 20220927 zoe 수정 -->
					<span class="label" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모하기 플로팅">
              <img src="../../../resources/images/main/float-festa-logo.png" alt="Yet to Come in BUSAN" class="logo" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모하기 플로팅">
              응모하기 <i class="arrow" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모하기 플로팅"><img src="../../../resources/images/icon/ico-main-float-menu-arrow.png" alt="플로팅 메뉴 화살표 아이콘" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모하기 플로팅"></i>
            </span>
				</a>
			</li>
			<li>
				<a href="../sub/history.html" class="float-menu" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모내역 플로팅">
					<span class="label" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모내역 플로팅">응모 내역 <i class="arrow" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모내역 플로팅"><img src="../../../resources/images/icon/ico-main-float-menu-arrow.png" alt="플로팅 메뉴 화살표 아이콘" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="응모내역 플로팅"></i></span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);" target="_blank" title="T다이렉트샵 (새 창 이동)" class="float-menu" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="T다이렉트샵 바로가기">
					<span class="label" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="T다이렉트샵 바로가기">T다이렉트샵<br>바로가기 <i class="arrow" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="T다이렉트샵 바로가기"><img src="../../../resources/images/icon/ico-main-float-menu-arrow.png" alt="플로팅 메뉴 화살표 아이콘" ga_category="SKTXBTS_메인" ga_action="플로팅 버튼" ga_label="T다이렉트샵 바로가기"></i></span>
				</a>
			</li>
		</ul>
		<!-- //플로팅 메뉴 -->
		<!-- 푸터 -->
		<footer id="footer">
			<div class="section-inner">
				<div class="footer-info-wrap">
					<p class="copyright">COPYRIGHT ⓒ SK TELECOM CO., LTD. ALL RIGHTS RESERVED</p>
					<a href="../sub/policy.html" class="btn border">개인정보처리방침</a>
				</div>
			</div>
		</footer>
		<!-- // 푸터 -->
		<!-- 로그인 팝업 -->
		<div class="layer-popup" id="loginPopup">
			<div class="popup-container small">
				<div class="popup-wrap">
					<div class="popup-pos-wrap">
						<div class="popup-header">
							<div class="popup-title">
								<strong>로그인</strong>
							</div>
						</div>
						<div class="popup-content">
							<div class="popup-inner">
								<p class="popup-text">이벤트에<br>응모하려면 로그인하세요.</p>
								<a href="javascript:void(0);" class="btn login-popup-btn__kakao" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인">
									<i class="ico" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인"><img src="../../../resources/images/sub/popup-sns-kakao-logo.png" alt="카카오톡 로고" class="logo" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인"></i>
									<span class="label" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인">카카오계정으로 로그인</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-footer">
					<div class="btn-area">
						<button type="button" class="btn btn-close popup-close">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 응모 팝업 -->
		<div class="layer-popup full-scroll" id="formPopup">
			<div class="popup-container medium">
				<div class="popup-header">
					<div class="popup-title event">
						<strong><span class="mobile-linebreak"><span class="nickname">카카오톡 닉네임</span>님</span> 반갑습니다.</strong>
					</div>
				</div>
				<div class="popup-content">
					<div class="popup-inner policy">
						<dl class="popup-policy-info">
							<dt class="title">개인정보 수집 및 이용 동의 <small>(필수)</small></dt>
							<dd class="cont">
								<strong class="sub-title">개인정보의 수집 · 이용 목적 / 기간 / 수집 거부의 권리</strong>
								<div class="policy-table">
									<table>
										<caption>개인정보의 수집 · 이용 목적 / 수집 항목 / 보유 기간</caption>
										<colgroup>
											<col style="width: 33.33%">
											<col style="width: 33.33%">
											<col style="width: 33.33%">
										</colgroup>
										<thead>
											<tr>
												<th>수집/이용 목적</th>
												<th>수집 항목(필수)</th>
												<th>보유 기간</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><strong class="point">이벤트 진행<br>당첨자 확인 및 안내</strong></td>
												<td>이름, 휴대폰 번호, 생년월일, 카카오 닉네임, 카카오 인증 키</td>
												<td><strong class="point">당첨자 확인 및 응대를 위해 이벤트 종료 후 60일 동안 보관 후 파기</strong></td>
											</tr>
										</tbody>
									</table>
								</div>
								<p class="text indent-text">본 동의는 이벤트 응모를 위한 개인정보 수집/이용에 대한 동의로서, 동의를 거부 할 권리가 있으나, 동의하지 않으실 경우 이벤트에 응모하실 수 없습니다.</p>
								<p class="text indent-text">법령에 따른 개인정보의 수집/이용, 계약의 이행/편의증진을 위한 개인정보 처리위탁 및 개인정보처리와 관련된 일반사항은 서비스의 개인정보처리방침에 따릅니다.</p>
								<label class="popup-check-box">
									<input type="checkbox">
									<span class="label">동의합니다.</span>
								</label>
							</dd>
						</dl>
						<dl class="popup-policy-info">
							<dt class="title">개인정보 처리의 위탁 동의 <small>(필수)</small></dt>
							<dd class="cont">
								<p class="text">사무국은 원활한 개인정보 업무 처리를 위하여 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.</p>
								<p class="text">사무국은 위탁 계약 체결 시 정보통신망법 제25조 및 개인정보 보호법 제26조에 따라 위탁 업무 수행 목적 외 개인정보 처리 금지, 기술적·관리적 보호 조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해 배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
								<p class="text">사무국은 위탁 업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.<br><br></p>
								<strong class="sub-title">개인정보 처리의 위탁</strong>
								<div class="policy-table">
									<table>
										<caption>개인정보 처리 수탁사 / 업무 내용</caption>
										<colgroup>
											<col style="width: 50%">
											<col style="width: 50%">
										</colgroup>
										<thead>
											<tr>
												<th>수탁사</th>
												<th>업무 내용</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>대학내일</td>
												<td>이벤트 시스템 운영, 고객상담, 당첨 안내</td>
											</tr>
										</tbody>
									</table>
								</div>
								<p class="text indent-text">본 동의는 이벤트 응모를 위한 개인정보 처리 위탁에 대한 동의로서, 동의를 거부할 권리가 있으나, 동의하지 않을 경우 이벤트에 응모하실 수 없습니다.</p>
								<label class="popup-check-box">
									<input type="checkbox">
									<span class="label">동의합니다.</span>
								</label>
							</dd>
						</dl>
					</div>
					<div class="popup-inner form">
						<dl class="popup-policy-info">
							<dt class="title">개인정보 입력</dt>
							<dd class="cont">
								<div class="popup-form-wrap">
									<div class="popup-form">
										<div class="popup-form-row">
											<label class="popup-form-label">이름</label>
											<div class="popup-form-field">
												<input type="text">
											</div>
										</div>
										<div class="popup-form-row">
											<label class="popup-form-label">휴대전화</label>
											<div class="popup-form-field">
												<input type="tel" placeholder="숫자로 입력해 주세요." class="with-btn">
												<button>인증번호 <span class="pc-show">받기</span></button>
											</div>
										</div>
										<div class="popup-form-row">
											<label class="popup-form-label">인증번호</label>
											<div class="popup-form-field">
												<input type="number" placeholder="숫자로 입력해 주세요." class="with-btn">
												<button>확인</button>
											</div>
										</div>
										<div class="popup-form-row">
											<label class="popup-form-label">생년월일</label>
											<div class="popup-form-field">
												<input type="text" placeholder="Ex) 2007. 1. 1." class="input-active datepicker-input" readonly>
											</div>
										</div>
									</div>
									<p class="text indent-text">이 이벤트는 만 14세 이상 고객님만 응모하실 수 있습니다.</p>
									<p class="text indent-text">SK텔레콤에서 구매 및 개통한 본인 명의의 휴대폰 번호를 입력해 주세요.</p>
									<p class="text indent-text">개인정보 오기입으로 인한 응모 및 경품 수령 실패는 보상해드리지 않습니다.</p>
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="popup-footer">
					<div class="btn-area half">
						<button type="button" class="btn btn-close btn-cancle popup-close">취소</button>
						<button type="button" class="btn btn-ok" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="응모 완료">등록</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 응모 완료 팝업 -->
		<div class="layer-popup" id="confirmPopup">
			<div class="popup-container small">
				<div class="popup-wrap">
					<div class="popup-pos-wrap">
						<div class="popup-header">
							<div class="popup-title">
								<strong>이미 응모하셨습니다.</strong>
							</div>
						</div>
						<div class="popup-content">
							<div class="popup-inner">
								<p class="popup-text">이벤트는<br>한 번만 응모하실 수 있습니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-footer">
					<div class="btn-area">
						<button type="button" class="btn btn-close popup-close">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 당첨자 발표 팝업 -->
		<div class="layer-popup" id="winnerPopup">
			<div class="popup-container small">
				<div class="popup-wrap">
					<div class="popup-pos-wrap">
						<div class="popup-header">
							<div class="popup-title event">
								<strong>당첨자 발표</strong>
							</div>
						</div>
						<div class="popup-content">
							<div class="popup-inner">
								<p class="popup-text">참여해 주신 모든 분들께 깊은 감사를 드립니다.<br><b>당첨 여부는 응모 내역에서 확인 가능합니다.</b></p>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-footer">
					<div class="btn-area">
						<button type="button" class="btn btn-close popup-close">닫기</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T67MBVM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</html>