// 시각적으로 숨기고, 스크린리더에서는 이용가능:
@mixin blind () {
	position: absolute !important;
	display: block;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	border: 0 !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	&.focusable:active,
	&.focusable:focus {
		position: static;
		height: auto;
		width: auto;
		margin: 0;
		clip: auto;
		overflow: visible;
	}
}