<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content_old="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
	<meta name="title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="description" content="SK텔레콤과 함께하는 BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="keywords" content="SK텔레콤, BTS, 방탄소년단, BTS &lt;Yet to Come&gt; in BUSAN, 티켓 이벤트" />
	<meta property="og:title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<link rel="icon" href="../../../resources/images/favicon.ico" />
	<link rel="stylesheet" href="../../../resources/css/style.css" />
	<link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
	<link rel="stylesheet" href="../../../resources/plugins/datepicker/jquery-ui.css" />
	<script src="../../../resources/plugins/jquery-2.2.4.min.js"></script>
	<script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
	<script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery-ui.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery-ui-ko.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery.ui.monthpicker.js"></script>
	<script src="../../../resources/js/common-ui.js"></script>
	<title>BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트</title>
	<!-- Google Tag Manager -->
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-T67MBVM');
	</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<div id="container">
		<!-- 컨텐츠 -->
		<div id="content">
			<!-- 헤더 타이틀 영역 -->
			<div class="header-title-box history">
				<h2 class="title"><img src="../../../resources/images/sub/history-header-title.png" alt="응모 현황"></h2>
			</div>
			<!-- //헤더 타이틀 영역 -->
			<!-- 응모 내역 -->
			<article class="history-area__history">
				<div class="section-inner">
					<div class="area-title-box">
						<h3 class="title">응모 내역</h3>
					</div>
					<div class="area-info-box">
						<p class="area-info-title"><span class="nickname">카카오톡 닉네임</span>님은<br><b>2022년 9월 30일</b><br>응모 하셨습니다.</p>
					</div>
				</div>
			</article>
			<!-- //응모 내역 -->
			<!-- 당첨 내역 -->
			<article class="history-area__result">
				<div class="section-inner">
					<div class="area-title-box">
						<h3 class="title">당첨 내역</h3>
					</div>
					<div class="area-info-box">
						<p class="area-info-title"><b>당첨내역이 없습니다.</b></p>
						<div class="area-info-cont">
							<p class="text result">BTS &lt;Yet to Come&gt; in BUSAN<br>티켓 래플 이벤트에 참여해 주셔서 감사합니다.<br><br>아쉽게도 선정되지 못하였지만,<br>앞으로도 SK텔레콤에 많은 관심 부탁드립니다.</p>
						</div>
					</div> <!-- //미당첨 -->
					<div class="area-info-box">
						<p class="area-info-title"><b>축하합니다!!</b></p>
						<div class="area-info-cont">
							<p class="text result">이벤트에 당첨 되셨습니다.<br>BTS &lt;Yet to Come&gt; in BUSAN<br>티켓 교환권 (1인1매) 수령을 위해<br>아래 내용을 확인해주세요.</p> <!-- 20220927 2차 zoe 수정 -->
						</div>
						<div class="area-info-cont">
							<p class="text result"><small>※ 참석 여부를 [여기] 를 눌러서 입력해 주시기 바랍니다.<br>※ 참석 여부에 대한 입력을 2022년 10월 13일 오후5시까지 하지 않으실 경우 당첨은 자동 취소됩니다.<br>※ 티켓 교환이 가능한 QR코드는 2022년 10월 15일 00시 부터 확인 가능합니다.</small></p> <!-- 20220927 2차 zoe 수정 -->
						</div>
						<div class="area-info-cont">
							<p class="text"><span class="nickname">카카오톡 닉네임</span>님은<br><b>2022년 10월 15일(토) 17:30:58</b>에<br>티켓을 수령 하셨습니다.</p>
							<a href="javascript:void(0);" class="qr-code" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="QR코드 다운로드"><img src="../../../resources/images/sub/history-qrcode.png" alt="QR코드" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="QR코드 다운로드"></a>
							<p class="text"><small>※ QR코드 이미지를 눌러서 다운로드 가능합니다.</small></p>
							<figure class="map"><img src="../../../resources/images/sub/booth-map.png" alt="부스 안내 이미지"></figure>
						</div>
					</div> <!-- //당첨 -->
					<div class="area-btn-wrap">
						<a href="../main/main.html" class="btn round large" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="메인으로 돌아가기">메인으로 돌아가기</a>
					</div>
				</div>
			</article>
			<!-- //당첨 내역 -->
			<!-- 배너 영역 -->
			<article class="history-area__banner">
				<!-- 20220927 2차 zoe 수정 : section-inner 영역 삭제 -->
				<ul class="banner-list">
					<li>
						<a href="www.skt-iphone14-new0s.com/0concept" target="_blnak" title="W컨셉 이벤트 페이지 (새 창 이동)" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="W컨셉 배너"><img src="../../../resources/images/sub/banner-wconcept.png" alt="W컨셉 이벤트 배너" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="W컨셉 배너"></a>
					</li>
					<li>
						<a href="www.skt-iphone14-new0s.com/Dingolive" target="_blnak" title="딩고 이벤트 페이지 (새 창 이동)" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="딩고 배너"><img src="../../../resources/images/sub/banner-dingo.png" alt="딩고 이벤트 배너" ga_category="SKTXBTS_응모내역" ga_action="응모내역 버튼" ga_label="딩고 배너"></a>
					</li>
				</ul>
			</article>
			<!-- //배너 영역 -->
			<!-- 기타 안내 영역 (20220927 2차 zoe 일괄 수정) -->
			<article class="common-area__etc">
				<div class="section-inner">
					<dl class="area-info-box">
						<dt class="area-info-title">문의처</dt>
						<dd class="area-info-cont"><b>Mail</b> : skt.new0s@gmail.com<br><b>전화</b> : 02-6958-1972<br><b>운영 시간</b> : 평일 오전 10시~오후 5시, 점심시간 낮 12시~오후 1시, 공휴일 휴무</dd>
					</dl>
					<dl class="area-info-box">
						<dt class="area-info-title">유의 사항</dt>
						<dd class="area-info-cont">
							<b>응모 관련</b>
							<span class="indent-text">만 14세 이상 개인 고객님은 누구나 응모하실 수 있습니다.(법인 고객은 응모 대상이 아님)</span>
							<span class="indent-text">이 이벤트는 기간 내 SK텔레콤 공식 대리점과 T다이렉트샵에서 휴대폰 구매 및 개통 완료한 고객님을 대상으로 추첨합니다.<br>(데이터 함께 쓰기 요금제, 선불 요금제, 스마트 워치, 태블릿 등 특수 요금제/단말 국매 고객 제외)</span>
							<span class="indent-text">이벤트 당첨자는 이벤트 당첨자 발표일인 2022년 10월 12일(수) 오후에 응모 내역을 통해 당첨 확인 가능합니다.</span>
							<span class="indent-text">해당 이벤트는 SK텔레콤에서 진행하는 타 이벤트와 중복 응모가 가능합니다.<br>단, 동일한 이벤트에 한해 중복으로 참여하셔도 1인당 1회만 추첨 기회가 주어집니다. (*여러 회선 개통 시에도 1회로 인정)</span>
							<span class="indent-text">응모하신 분의 이름과 휴대폰 번호가 개통하신 분의 개인정보와 동일해야 합니다. 정보가 다를 경우 당첨될 수 없습니다.</span>
							<span class="indent-text">제품 구매 및 개통을 취소하실 경우 당첨이 취소됩니다.</span>
							<span class="indent-text">비정상적이거나 불법적인 방법으로 이벤트에 참여한 경우 경품 당첨이 취소될 수 있습니다.</span>
							<span class="indent-text">개인정보를 입력하지 않거나 잘못 입력한 경우, 또는 휴대폰을 해지/정지 및 번호를 변경한 경우 당첨이 취소될 수 있습니다.</span>
						</dd>
						<dd class="area-info-cont">
							<b>경품 관련</b>
							<span class="indent-text">이벤트 당첨자는 당첨자 발표 안내를 받고 응모 내역을 통해 당첨 확인 후 참석 여부를 확인해야합니다.</span>
							<span class="indent-text">이벤트 당첨자에게는 문자메시지(MMS)를 포함 3번의 연락이 진행되며, 3번 모두 연락이 닿지 않을 경우 당첨이 취소됩니다.</span>
							<span class="indent-text">BTS &lt;Yet to Come&gt; in BUSAN 참석 여부 확인 시 참석 확정을 해야 2022년 10월 15일(토) 자정에 티켓 교환 QR코드가 생성됩니다.</span>
							<span class="indent-text">이벤트 당첨자는 콘서트 당일인 2022년 10월 15일(토)에 안내된 시간에 맞춰 SK텔레콤 티켓 교환 부스로 오셔야 합니다.</span>
							<span class="indent-text">SK텔레콤 티켓 교환 부스에서 QR 코드와 신분증 확인 후 <티켓 교환권>을 받을 수 있습니다. (1인 1매)<br>※ 신분증의 범위 : 주민등록증(유효기간 내의 주민등록증발급신청확인서), 운전면허증(모바일 운전면허증 불인정), 여권(만료일 이내, 주민등록번호가 없는 여권의 경우 여권정보증명서를 함께 제시해야 함), 외국인등록증, 영주증, 청소년증<br>(유효기간 내의 청소년증발급신청확인서) 해당 경품을 타인이 대리 수령할 수 없습니다.</span>
							<span class="indent-text">티켓 교환권은 콘서트 당일 오전 11시부터 주경기장 옆 보조경기장의 ‘스폰서 티켓 교환부스’에서 입장 팔찌로 교환 가능합니다.</span>
							<span class="indent-text">티켓 교환권은 콘서트 티켓이 아니며, 반드시 입장 팔찌와 교환해야 공연 관람이 가능합니다.</span>
							<span class="indent-text">티켓 교환권은 분실 시에 어떠한 경우에도 재발행되지 않습니다. (사진 등으로 입장 팔찌 교환 불가)</span>
							<span class="indent-text">경품 당첨에 대한 자세한 내용은 문자메시지(MMS)를 통해 안내해 드릴 예정입니다.</span>
							<span class="indent-text">당첨자 발표일은 당사 및 제휴사 사정에 의해 늦어지거나 변경될 수 있습니다.</span>
						</dd>
						<dd class="area-info-cont">
							<b>개인정보 관련</b>
							<span class="indent-text">이 이벤트와 관련한 개인정보 수집 동의는 개인정보 보호법 규정을 따릅니다.</span>
							<span class="indent-text">해당 동의를 통해 수집한 개인정보는 경품 발송 목적으로만 사용되며, 이벤트 종료 후 60일 안에 파기됩니다.</span>
						</dd>
						<dd class="area-info-cont">
							<b>이 이벤트는 SK텔레콤의 위탁을 받아 대행사에서 운영, 관리합니다.<br>이 이벤트는 SK텔레콤 및 제휴사 사정에 따라 내용 변경, 시행 취소 또는 일찍 종료될 수 있습니다.</b>
						</dd>
					</dl>
				</div>
			</article>
			<!-- //기타 안내 영역 -->
		</div>
		<!-- //컨텐츠 -->
		<!-- 푸터 -->
		<footer id="footer">
			<div class="section-inner">
				<div class="footer-info-wrap">
					<p class="copyright">COPYRIGHT ⓒ SK TELECOM CO., LTD. ALL RIGHTS RESERVED</p>
					<a href="../sub/policy.html" class="btn border">개인정보처리방침</a>
				</div>
			</div>
		</footer>
		<!-- // 푸터 -->
	</div>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T67MBVM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</html>