<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content_old="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
	<meta name="title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="description" content="SK텔레콤과 함께하는 BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="keywords" content="SK텔레콤, BTS, 방탄소년단, BTS &lt;Yet to Come&gt; in BUSAN, 티켓 이벤트" />
	<meta property="og:title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<link rel="icon" href="../../resources/images/favicon.ico" />
	<link rel="stylesheet" href="../../resources/css/style.css" />
	<link rel="stylesheet" href="../../resources/plugins/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="../../resources/plugins/selectric/selectric.css" />
	<link rel="stylesheet" href="../../resources/plugins/datepicker/jquery-ui.css" />
	<script src="../../resources/plugins/jquery-2.2.4.min.js"></script>
	<script src="../../resources/plugins/swiper/swiper-bundle.min.js"></script>
	<script src="../../resources/plugins/selectric/jquery.selectric.js"></script>
	<script src="../../resources/plugins/datepicker/jquery-ui.js"></script>
	<script src="../../resources/plugins/datepicker/jquery-ui-ko.js"></script>
	<script src="../../resources/plugins/datepicker/jquery.ui.monthpicker.js"></script>
	<script src="../../resources/js/common-ui.js"></script>
	<title>BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트</title>
	<!-- Google Tag Manager -->
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-T67MBVM');
	</script>
	<!-- End Google Tag Manager -->
</head>
<style>
	#container {
		width: 1200px;
		margin: 0 auto;
	}

	.notice {
		width: 800px;
		margin: 0 auto 20px;
		padding: 20px;
		background-color: #f1f1f1;
	}

	.notice li {
		font-size: 16px;
	}

	h1 {
		display: block;
		padding: 25px 0;
		text-align: center;
		font-weight: bold;
		font-size: 40px;
	}

	.component-title {
		display: block;
		padding: 10px 0;
		text-align: center;
		background-color: #333;
		color: #fff;
		font-size: 30px;
		font-weight: bold;
		color: #fff;
	}

	.component-content {
		padding: 40px 20px;
	}

	.component-part-title {
		display: inline-block;
		margin: 50px 0 30px;
		padding: 5px 20px;
		border-radius: 5px;
		font-size: 20px;
		background-color: #2546cd;
		color: #fff;
	}
</style>

<body>
	<div id="container">
		<h1>컴포넌트 모음</h1>
		<div class="notice">
			<ul>
				<li>* 프로젝트의 컴포넌트를 확인할수 있는 페이지 입니다.</li>
				<li>
					* 비동기 작업후 라이브러리 재실행 함수 <br /><br />
					<strong>슬라이드 업데이트</strong> - <strong style="color: #d8027d">window.sliderUpdate()</strong><br />
					<strong>셀렉트릭 업데이트</strong> - <strong style="color: #d8027d">window.refreshSelectric()</strong><br />
					<strong>셀렉트릭 생성</strong> - <strong style="color: #d8027d">window.selectric()</strong><br />
          </li>
			</ul>
		</div>
		<div class="component-item">
			<h2 class="component-title">폰트</h2>
			<div class="component-content">
				<p class="font primary">primary 텍스트입니다.</p>
				<p class="font slightly">slightly 텍스트입니다.</p>
				<p class="font warning">warning 텍스트입니다.</p>
				<p class="font danger">danger 텍스트입니다.</p>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">버튼</h2>
			<div class="component-content">
				<div class="data-table">
					<table>
						<tr>
							<th class="center" style="font-weight: bold; font-size: 25px">small</th>
							<th class="center" style="font-weight: bold; font-size: 25px">medium</th>
							<th class="center" style="font-weight: bold; font-size: 25px">large</th>
							<th class="center" style="font-weight: bold; font-size: 25px">xlarge</th>
							<th class="center" style="font-weight: bold; font-size: 25px">round</th>
						</tr>
						<tr>
							<td>
								<button type="button" class="btn small border primary">small</button>
								<button type="button" class="btn small primary">small</button>
								<button type="button" class="btn small slightly">small</button>
								<button type="button" class="btn small lightSlightly">small</button>
								<button type="button" class="btn small dark">small</button>
								<button type="button" class="btn small warning">small</button>
								<button type="button" class="btn small danger">small</button>
								<button type="button" class="btn small danger round">small</button>
							</td>
							<td>
								<button type="button" class="btn medium border slightly">medium</button>
								<button type="button" class="btn medium primary">medium</button>
								<button type="button" class="btn medium slightly">medium</button>
								<button type="button" class="btn medium lightSlightly">medium</button>
								<button type="button" class="btn medium dark">medium</button>
								<button type="button" class="btn medium warning">medium</button>
								<button type="button" class="btn medium danger">medium</button>
							</td>
							<td>
								<button type="button" class="btn large border warning">large</button>
								<button type="button" class="btn large primary">large</button>
								<button type="button" class="btn large slightly">large</button>
								<button type="button" class="btn large lightSlightly">large</button>
								<button type="button" class="btn large dark">large</button>
								<button type="button" class="btn large warning">large</button>
								<button type="button" class="btn large danger">large</button>
							</td>
							<td>
								<button type="button" class="btn xlarge border danger">xlarge</button>
								<button type="button" class="btn xlarge primary">xlarge</button>
								<button type="button" class="btn xlarge slightly">xlarge</button>
								<button type="button" class="btn xlarge lightSlightly">xlarge</button>
								<button type="button" class="btn xlarge dark">xlarge</button>
								<button type="button" class="btn xlarge warning">xlarge</button>
								<button type="button" class="btn xlarge danger">xlarge</button>
							</td>
							<td>
								<button type="button" class="btn small primary round">small</button>
								<button type="button" class="btn medium primary round">medium</button>
								<button type="button" class="btn large primary round">large</button>
								<button type="button" class="btn xlarge primary round">xlarge</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">input</h2>
			<div class="component-content">
				<h3 class="component-part-title">float input</h3>
				<div class="input-cover float">
					<label for="name" class="form-label">이름<span class="required">*</span></label>
					<input type="text" id="name" name="name" title="이름" class="form-input input-active" />
					<div class="form-guide-text font warning">※ 안내문구입니다.</div>
				</div>
				<h3 class="component-part-title">일반 input</h3>
				<div class="input-cover">
					<label for="phone" class="form-label">전화번호<span class="required">*</span></label>
					<input type="tel" id="phone" name="phone" title="휴대폰번호" class="form-input input-active" />
					<div class="form-guide-text font warning">※ 안내문구입니다.</div>
				</div>
				<h3 class="component-part-title">버튼 input</h3>
				<div class="input-cover float btn-with large">
					<label for="email" class="form-label">이메일<span class="required">*</span></label>
					<input type="text" id="email" name="email" title="이메일" class="form-input input-active" />
					<button type="button" class="btn small round lightSlightly">인증번호 발송</button>
				</div>
				<br /><br />
				<div class="input-cover float btn-with small">
					<label for="phone" class="form-label">휴대폰<span class="required">*</span></label>
					<input type="text" id="phone" name="phone" title="휴대폰" class="form-input input-active" />
					<button type="button" class="btn small round lightSlightly">인증</button>
				</div>
				<h3 class="component-part-title">달력 input</h3>
				<div class="input-cover float">
					<label for="phone" class="form-label">전체 달력 input<span class="required">*</span></label>
					<input type="text" id="" name="" title="" class="form-input input-active datepicker-input" readonly />
				</div>
				<br /><br />
				<div class="input-cover float">
					<label for="phone" class="form-label">월 달력 input<span class="required">*</span></label>
					<input type="text" id="" name="" title="" class="form-input input-active datepicker-input month" readonly />
				</div>
				<h3 class="component-part-title">파일 input</h3>
				<div class="input-cover float">
					<label for="phone" class="form-label">첨부파일<span class="required">*</span></label>
					<div class="file-wrapper">
						<input type="text" class="form-input result-file-input" value="" readonly="" />
						<input type="file" id="fileAttach" name="fileAttach" title="파일업로드" class="file-input" />
						<label for="fileAttach" class="file-label btn small slightly">업로드</label>
					</div>
					<div class="form-guide-text font warning">※ 안내문구입니다.</div>
				</div>
				<script>
					$(document).ready(function() {
						fileAttach();
					});

					function fileAttach() {
						$(document).on('change', 'input.file-input', function() {
							var $tg = $(this);
							var $name = $tg.val().split('\\').pop();
							$tg.closest('.input-cover').addClass('active').find('.result-file-input').val($name);
						});
					}
				</script>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">셀렉트박스</h2>
			<div class="component-content">
				<h3 class="component-part-title">selectric - medium</h3>
				<div class="selectric-container">
					<select name="select" class="selectric medium">
						<option value="">마감일 순</option>
						<option value="옵션1">옵션1</option>
						<option value="옵션2">옵션2</option>
					</select>
				</div>
				<h3 class="component-part-title">selectric - small</h3>
				<div class="selectric-container">
					<select name="select" class="selectric small">
						<option value="">마감일 순</option>
						<option value="옵션1">옵션1</option>
					</select>
				</div>
				<h3 class="component-part-title">selectric - float</h3>
				<div class="selectric-container">
					<div class="select-label">근무지선택<span class="required">*</span></div>
					<!-- first-show 클래스를 넣으면 첫번째 옵션이 보입니다. -->
					<select name="select" class="selectric medium float required">
						<option value="">근무지선택</option>
						<option value="옵션1">옵션1</option>
						<option value="옵션2">옵션2</option>
					</select>
					<div class="form-guide-text font warning">※ 안내문구입니다.</div>
				</div>
				<h3 class="component-part-title">selectric - disabled</h3>
				<div class="selectric-container">
					<select name="select" class="selectric medium" disabled>
						<option value="">마감일 순</option>
						<option value="옵션1">옵션1</option>
						<option value="옵션2">옵션2</option>
					</select>
				</div>
				<h3 class="component-part-title">일반 셀렉트박스</h3>
				<div class="select-box-container">
					<label class="form-label">정렬<span class="required">*</span></label>
					<select name="select" class="form-select medium">
						<option value="">마감일 순</option>
						<option value="옵션1">옵션1</option>
					</select>
				</div>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">체크박스 / 라디오 박스</h2>
			<div class="component-content">
				<h3 class="component-part-title">체크박스(세로)</h3>
				<div class="selector-wrapper">
					<div class="selector-cover checkbox round">
						<!-- id와 label의 for값이 같아야합니다 -->
						<input type="checkbox" name="checkbox1" id="checkbox1" />
						<label for="checkbox1">선택</label>
					</div>
					<div class="selector-cover checkbox round">
						<input type="checkbox" name="checkbox2" id="checkbox2" />
						<label for="checkbox2">선택</label>
					</div>
					<div class="selector-cover checkbox square">
						<input type="checkbox" name="checkbox3" id="checkbox3" />
						<label for="checkbox3">선택</label>
					</div>
					<div class="selector-cover checkbox square">
						<input type="checkbox" name="checkbox4" id="checkbox4" />
						<label for="checkbox4">선택</label>
					</div>
				</div>
				<h3 class="component-part-title">체크박스(가로)</h3>
				<div class="selector-wrapper horizontal">
					<div class="selector-cover checkbox square">
						<input type="checkbox" name="checkbox5" id="checkbox5" />
						<label for="checkbox5">선택</label>
					</div>
					<div class="selector-cover checkbox square">
						<input type="checkbox" name="checkbox6" id="checkbox6" />
						<label for="checkbox6">선택</label>
					</div>
				</div>
				<h3 class="component-part-title">라디오박스</h3>
				<div class="selector-wrapper">
					<div class="selector-cover radio">
						<input type="radio" name="radio" id="radio1" />
						<label for="radio1">남자</label>
					</div>
					<div class="selector-cover radio">
						<input type="radio" name="radio" id="radio2" />
						<label for="radio2">여자</label>
					</div>
				</div>
				<h3 class="component-part-title">체크박스만 있는경우</h3>
				<div class="selector-wrapper">
					<div class="selector-cover checkbox round solo">
						<!-- id와 label의 for값이 같아야합니다 -->
						<input type="checkbox" name="checkbox7" id="checkbox7" />
						<label for="checkbox7"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">테이블</h2>
			<div class="component-content">
				<div class="data-table">
					<table>
						<caption>
							테이블제목
						</caption>
						<colgroup>
							<col style="width: 20%" />
							<col />
							<col style="width: 30%" />
						</colgroup>
						<thead>
							<tr>
								<th class="center">번호</th>
								<th class="center">제목</th>
								<th class="center">내용</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="center">1</td>
								<td>내용</td>
								<td>내용</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">pagination</h2>
			<div class="component-content">
				<div class="pagination">
					<button type="button" class="controller prev">이전으로</button>
					<button type="button" class="paging current">1</button>
					<button type="button" class="paging">2</button>
					<button type="button" class="paging">3</button>
					<button type="button" class="controller next">다음으로</button>
				</div>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">슬라이드</h2>
			<div class="component-content">
				<div class="swiper-container slider-example">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-01.jpg" alt="" /></div>
						<div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-02.jpg" alt="" /></div>
						<div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-03.jpg" alt="" /></div>
						<div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-02.jpg" alt="" /></div>
						<div class="swiper-slide"><img src="../../resources/images/_temp/img-temp-01.jpg" alt="" /></div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">아코디언</h2>
			<div class="component-content">
				<!-- solo 클래스를 붙히면 토글이 각각 적용됩니다. -->
				<div class="accordion-container" data-speed="200">
					<div class="accordion-list">
						<div class="accordion-header">제목입니다1</div>
						<div class="accordion-body">내용입니다</div>
					</div>
					<div class="accordion-list">
						<div class="accordion-header">제목입니다2</div>
						<div class="accordion-body">내용입니다</div>
					</div>
				</div>
				<style>
					.accordion-list {
						padding: 20px;
						border-radius: 16px;
						border: 1px solid #000;
					}

					.accordion-list+.accordion-list {
						margin-top: 20px;
					}

					.accordion-body {
						margin-top: 20px;
						padding-top: 20px;
						border-top: 1px dashed #000;
					}
				</style>
			</div>
		</div>
		<div class="component-item">
			<h2 class="component-title">아이콘 모음</h2>
			<div class="component-content">
				<h3 class="component-part-title">스위치</h3>
				<div class="switch-container">
					<div class="switch-icon">
						<input type="checkbox" id="switch01" class="switch-input" />
						<label for="switch01" class="switch-label">
							<span class="btn-on-off">on/off 버튼</span>
						</label>
					</div>
					<div class="switch-text">온라인만 보기</div>
				</div>
				<h3 class="component-part-title">별점선택</h3>
				<div class="rating-select-container">
					<input type="radio" id="ratingStar01" name="ratingStar" />
					<label for="ratingStar01">1점</label>
					<input type="radio" id="ratingStar02" name="ratingStar" />
					<label for="ratingStar02">2점</label>
					<input type="radio" id="ratingStar03" name="ratingStar" />
					<label for="ratingStar03">3점</label>
					<input type="radio" id="ratingStar04" name="ratingStar" />
					<label for="ratingStar04">4점</label>
					<input type="radio" id="ratingStar05" name="ratingStar" checked />
					<label for="ratingStar05">5점</label>
				</div>
			</div>
		</div>
	</div>
</body>

</html>