<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content_old="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
	<meta name="title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="description" content="SK텔레콤과 함께하는 BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta name="keywords" content="SK텔레콤, BTS, 방탄소년단, BTS &lt;Yet to Come&gt; in BUSAN, 티켓 이벤트" />
	<meta property="og:title" content="BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<link rel="icon" href="../../../resources/images/favicon.ico" />
	<link rel="stylesheet" href="../../../resources/css/style.css" />
	<link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
	<link rel="stylesheet" href="../../../resources/plugins/datepicker/jquery-ui.css" />
	<script src="../../../resources/plugins/jquery-2.2.4.min.js"></script>
	<script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
	<script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery-ui.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery-ui-ko.js"></script>
	<script src="../../../resources/plugins/datepicker/jquery.ui.monthpicker.js"></script>
	<script src="../../../resources/js/common-ui.js"></script>
	<title>BTS &lt;Yet to Come&gt; in BUSAN 티켓 래플 이벤트</title>
	<!-- Google Tag Manager -->
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-T67MBVM');
	</script>
	<!-- End Google Tag Manager -->
</head>
<style>
	#container {
		width: 700px;
		margin: 0 auto;
	}

	@media (max-width: 900px) {
		#container {
			width: 100%;
		}
	}

	h1 {
		margin: 20px 0;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
	}

	.notice {
		margin-bottom: 20px;
		padding: 20px;
		background-color: #f1f1f1;
	}

	.notice li {
		font-size: 16px;
		line-height: 1.5;
	}

	.list-type {
		padding: 8px 20px;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		background-color: #f1f1f1;
	}

	.list-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0;
		border-top: 1px solid #ddd;
	}

	.name {
		padding-left: 20px;
		font-weight: bold;
		font-size: 15px;
	}

	.btn-open {
		display: block;
		margin: 10px;
		border-bottom: 1px solid #ddd;
		font-size: 15px;
		font-weight: bold;
	}
</style>

<body>
	<div id="container">
		<h1>팝업 모음</h1>
		<div class="notice">
			<ul>
				<li>* 프로젝트의 모든 팝업을 확인할수 있는 페이지 입니다.</li>
				<li>* 팝업 열기 함수 - <strong style="color: #d8027d">layerPopup.openPopup('팝업아이디')</strong></li>
				<li>* 특정 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closePopup('팝업아이디')</strong></li>
				<li>* 전체 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closeAllPopup()</strong></li>
				<li>
					* dim을 눌렀을때 팝업이 닫히지 않게끔 하기위해서<br />
            두번째 인자로 true값을 줍니다.<strong style="color: #d8027d">layerPopup.openPopup('팝업아이디', true)</strong>
				</li>
			</ul>
		</div>
		<div class="list-container">
			<!-- <div class="list-item">
          <h2 class="list-type">팝업 타입</h2>
          <div class="list-row">
            <div class="name">내부스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('layerPopup01')">확인</button>
          </div>
          <div class="list-row">
            <div class="name">풀스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('fullScrollPopup', true)">확인</button>
          </div>
        </div> -->
			<div class="list-item">
				<h2 class="list-type">공통 팝업</h2>
				<div class="list-row">
					<div class="name">로그인 팝업</div>
					<button type="button" class="btn small primary" onclick="layerPopup.openPopup('loginPopup')">확인</button>
				</div>
				<div class="list-row">
					<div class="name">응모 팝업</div>
					<button type="button" class="btn small primary" onclick="layerPopup.openPopup('formPopup')">확인</button>
				</div>
				<div class="list-row">
					<div class="name">응모 완료 팝업</div>
					<button type="button" class="btn small primary" onclick="layerPopup.openPopup('confirmPopup')">확인</button>
				</div>
				<div class="list-row">
					<div class="name">당첨자 발표 팝업</div>
					<button type="button" class="btn small primary" onclick="layerPopup.openPopup('winnerPopup')">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 로그인 팝업 -->
	<div class="layer-popup" id="loginPopup">
		<div class="popup-container small">
			<div class="popup-wrap">
				<div class="popup-pos-wrap">
					<div class="popup-header">
						<div class="popup-title">
							<strong>로그인</strong>
						</div>
					</div>
					<div class="popup-content">
						<div class="popup-inner">
							<p class="popup-text">이벤트에<br>응모하려면 로그인하세요.</p>
							<a href="javascript:void(0);" class="btn login-popup-btn__kakao" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인">
								<i class="ico" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인"><img src="../../../resources/images/sub/popup-sns-kakao-logo.png" alt="카카오톡 로고" class="logo" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인"></i>
								<span class="label" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="카카오 로그인">카카오계정으로 로그인</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-footer">
				<div class="btn-area">
					<button type="button" class="btn btn-close popup-close">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 응모 팝업 -->
	<div class="layer-popup full-scroll" id="formPopup">
		<div class="popup-container medium">
			<div class="popup-header">
				<div class="popup-title event">
					<strong><span class="mobile-linebreak"><span class="nickname">카카오톡 닉네임</span>님</span> 반갑습니다.</strong>
				</div>
			</div>
			<div class="popup-content">
				<div class="popup-inner policy">
					<dl class="popup-policy-info">
						<dt class="title">개인정보 수집 및 이용 동의 <small>(필수)</small></dt>
						<dd class="cont">
							<strong class="sub-title">개인정보의 수집 · 이용 목적 / 기간 / 수집 거부의 권리</strong>
							<div class="policy-table">
								<table>
									<caption>개인정보의 수집 · 이용 목적 / 수집 항목 / 보유 기간</caption>
									<colgroup>
										<col style="width: 33.33%">
										<col style="width: 33.33%">
										<col style="width: 33.33%">
									</colgroup>
									<thead>
										<tr>
											<th>수집/이용 목적</th>
											<th>수집 항목(필수)</th>
											<th>보유 기간</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong class="point">이벤트 진행<br>당첨자 확인 및 안내</strong></td>
											<td>이름, 휴대폰 번호, 생년월일, 카카오 닉네임, 카카오 인증 키</td>
											<td><strong class="point">당첨자 확인 및 응대를 위해 이벤트 종료 후 60일 동안 보관 후 파기</strong></td>
										</tr>
									</tbody>
								</table>
							</div>
							<p class="text indent-text">본 동의는 이벤트 응모를 위한 개인정보 수집/이용에 대한 동의로서, 동의를 거부 할 권리가 있으나, 동의하지 않으실 경우 이벤트에 응모하실 수 없습니다.</p>
							<p class="text indent-text">법령에 따른 개인정보의 수집/이용, 계약의 이행/편의증진을 위한 개인정보 처리위탁 및 개인정보처리와 관련된 일반사항은 서비스의 개인정보처리방침에 따릅니다.</p>
							<label class="popup-check-box">
								<input type="checkbox">
								<span class="label">동의합니다.</span>
							</label>
						</dd>
					</dl>
					<dl class="popup-policy-info">
						<dt class="title">개인정보 처리의 위탁 동의 <small>(필수)</small></dt>
						<dd class="cont">
							<p class="text">사무국은 원활한 개인정보 업무 처리를 위하여 다음과 같이 개인정보 처리 업무를 위탁하고 있습니다.</p>
							<p class="text">사무국은 위탁 계약 체결 시 정보통신망법 제25조 및 개인정보 보호법 제26조에 따라 위탁 업무 수행 목적 외 개인정보 처리 금지, 기술적·관리적 보호 조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해 배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
							<p class="text">사무국은 위탁 업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.<br><br></p>
							<strong class="sub-title">개인정보 처리의 위탁</strong>
							<div class="policy-table">
								<table>
									<caption>개인정보 처리 수탁사 / 업무 내용</caption>
									<colgroup>
										<col style="width: 50%">
										<col style="width: 50%">
									</colgroup>
									<thead>
										<tr>
											<th>수탁사</th>
											<th>업무 내용</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>대학내일</td>
											<td>이벤트 시스템 운영, 고객상담, 당첨 안내</td>
										</tr>
									</tbody>
								</table>
							</div>
							<p class="text indent-text">본 동의는 이벤트 응모를 위한 개인정보 처리 위탁에 대한 동의로서, 동의를 거부할 권리가 있으나, 동의하지 않을 경우 이벤트에 응모하실 수 없습니다.</p>
							<label class="popup-check-box">
								<input type="checkbox">
								<span class="label">동의합니다.</span>
							</label>
						</dd>
					</dl>
				</div>
				<div class="popup-inner form">
					<dl class="popup-policy-info">
						<dt class="title">개인정보 입력</dt>
						<dd class="cont">
							<div class="popup-form-wrap">
								<div class="popup-form">
									<div class="popup-form-row">
										<label class="popup-form-label">이름</label>
										<div class="popup-form-field">
											<input type="text">
										</div>
									</div>
									<div class="popup-form-row">
										<label class="popup-form-label">휴대전화</label>
										<div class="popup-form-field">
											<input type="tel" placeholder="숫자로 입력해 주세요." class="with-btn">
											<button>인증번호 <span class="pc-show">받기</span></button>
										</div>
									</div>
									<div class="popup-form-row">
										<label class="popup-form-label">인증번호</label>
										<div class="popup-form-field">
											<input type="number" placeholder="숫자로 입력해 주세요." class="with-btn">
											<button>확인</button>
										</div>
									</div>
									<div class="popup-form-row">
										<label class="popup-form-label">생년월일</label>
										<div class="popup-form-field">
											<input type="text" placeholder="Ex) 2007. 1. 1." class="input-active datepicker-input" readonly>
										</div>
									</div>
								</div>
								<p class="text indent-text">이 이벤트는 만 14세 이상 고객님만 응모하실 수 있습니다.</p>
								<p class="text indent-text">SK텔레콤에서 구매 및 개통한 본인 명의의 휴대폰 번호를 입력해 주세요.</p>
								<p class="text indent-text">개인정보 오기입으로 인한 응모 및 경품 수령 실패는 보상해드리지 않습니다.</p>
							</div>
						</dd>
					</dl>
				</div>
			</div>
			<div class="popup-footer">
				<div class="btn-area half">
					<button type="button" class="btn btn-close btn-cancle popup-close">취소</button>
					<button type="button" class="btn btn-ok" ga_category="SKTXBTS_메인" ga_action="팝업 버튼" ga_label="응모 완료">등록</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 응모 완료 팝업 -->
	<div class="layer-popup" id="confirmPopup">
		<div class="popup-container small">
			<div class="popup-wrap">
				<div class="popup-pos-wrap">
					<div class="popup-header">
						<div class="popup-title">
							<strong>이미 응모하셨습니다.</strong>
						</div>
					</div>
					<div class="popup-content">
						<div class="popup-inner">
							<p class="popup-text">이벤트는<br>한 번만 응모하실 수 있습니다.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-footer">
				<div class="btn-area">
					<button type="button" class="btn btn-close popup-close">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 당첨자 발표 팝업 -->
	<div class="layer-popup" id="winnerPopup">
		<div class="popup-container small">
			<div class="popup-wrap">
				<div class="popup-pos-wrap">
					<div class="popup-header">
						<div class="popup-title event">
							<strong>당첨자 발표</strong>
						</div>
					</div>
					<div class="popup-content">
						<div class="popup-inner">
							<p class="popup-text">참여해 주신 모든 분들께 깊은 감사를 드립니다.<br><b>당첨 여부는 응모 내역에서 확인 가능합니다.</b></p>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-footer">
				<div class="btn-area">
					<button type="button" class="btn btn-close popup-close">닫기</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>