// typo
.font {
  &.warning {
    color: $warning;
  }
  &.slightly {
    color: $slightly;
  }
  &.primary {
    color: $primary;
  }
  &.danger {
    color: $danger;
  }
}

$input-cover-height: rem(48px);

// input
.input-cover {
  .form-input {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: rem(30px);
    line-height: rem(26px);
    border: 0;
    padding-top: rem(10px);
    padding-bottom: rem(11px);
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    font-weight: 300;
    font-size: rem(18px);
    background-color: transparent;
    @include placeholder(#979797);
    &:read-only,
    &:disabled {
      color: #999 !important;
      &.datepicker-input {
        color: #000 !important;
      }
    }
    @media (max-width: $mo-l) {
      font-size: 16px;
    }
  }
  .form-label {
    display: block;
    font-size: rem(16px);
    color: #666;
  }

  .required {
    display: inline-block;
    vertical-align: top;
    margin-top: rem(2px);
    margin-left: rem(5px);
    font-weight: 700;
    font-size: rem(16px);
    color: $primary;
  }
  .file-wrapper {
    position: relative;
    .file-input {
      @include blind;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .file-label {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
  &.disable-active {
    .form-label {
      margin-bottom: rem(10px);
    }
    &.float {
      .form-label {
        margin-bottom: 0;
        transform: translate3d(0, -36px, 0);
      }
    }
  }
  &.float {
    position: relative;
    @include box-sizing();
    &.active {
      .form-label {
        transform: translate3d(0, -27px, 0) scale(0.8);
      }
    }
    .form-label {
      position: absolute;
      top: rem(7px);
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      transform: translate3d(0, 0, 0) scale(1);
      transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transform-origin: left top;
      @include ellipsis;
    }
  }
  &.focus {
    border-color: $primary;
    .form-label {
      color: $primary;
    }
    .form-input {
      border-color: $primary;
      color: $primary;
    }
  }
  &.btn-with {
    &.small {
      .form-input {
        padding-right: rem(97px);
      }
    }
    &.large {
      .form-input {
        padding-right: rem(123px);
      }
    }
    .btn {
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      padding: 0 rem(16px);
      text-align: center;
      font-weight: 600;
      font-size: 13px;
    }
  }
}

// radio,checkbox
.selector-wrapper {
  .selector-cover {
    + .selector-cover {
      margin-top: rem(10px);
    }
  }
  &.horizontal {
    @include cf;
    .selector-cover {
      float: left;
      + .selector-cover {
        margin-top: 0;
        margin-left: rem(20px);
      }
    }
  }
}
$radioSize: 20px;
$checkboxSize: 24px;
.selector-cover {
  line-height: 1;
  font-size: 0;
  input {
    cursor: pointer;
    @include blind();
    + label {
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    font-size: rem(14px);
    cursor: pointer;
  }
  // 라디오
  &.radio {
    label {
      min-height: rem($radioSize);
      line-height: 1.5;
      padding-left: rem($radioSize + 6px);
      background-image: url('../images/components/icon-radio-off.png');
      background-size: rem($radioSize) rem($radioSize);
    }
    input:checked + label {
      background-image: url('../images/components/icon-radio-on.png');
    }
    &.solo {
      label {
        padding-left: rem($radioSize);
      }
    }
  }
  // 체크박스
  &.checkbox {
    label {
      min-height: rem($checkboxSize);
      line-height: 1.5;
      padding-left: rem($checkboxSize + 6px);
    }
    &.round {
      label {
        background-image: url('../images/components/icon-checkbox-round-off.png');
        background-size: rem($checkboxSize) rem($checkboxSize);
      }
      input:checked + label {
        background-image: url('../images/components/icon-checkbox-round-on.png');
      }
    }
    &.square {
      label {
        background-image: url('../images/components/icon-checkbox-square-off.png');
        background-size: rem($checkboxSize) rem($checkboxSize);
      }
      input:checked + label {
        background-image: url('../images/components/icon-checkbox-square-on.png');
      }
    }
    &.solo {
      label {
        padding-left: rem($checkboxSize);
      }
    }
  }
}

.form-guide-text {
  display: block;
  font-weight: 300;
  margin-top: rem(12px);
  font-size: rem(15px);
  + .form-guide-text {
    margin-top: rem(4px);
  }
  @media (max-width: $mo-l) {
    font-size: 13px;
  }
}

// 스위치 아이콘
.switch-container {
  display: flex;
  align-items: center;
  .switch-icon {
    width: rem(32px);
    height: rem(18px);
    position: relative;
  }
  .switch-text {
    margin-left: rem(8px);
    font-size: rem(15px);
  }
  .btn-on-off {
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: rem(3px);
    transform: translateY(-50%);
    display: inline-block;
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background: #fff;
    text-indent: -9999px;
  }
  .switch-input {
    @include blind;
    &:checked {
      + .switch-label {
        background: $primary;
        .btn-on-off {
          left: rem(17px);
        }
      }
    }
  }
  .switch-label {
    transition: 0.2s;
    display: block;
    position: relative;
    cursor: pointer;
    @include size(100%);
    background: #999;
    border-radius: 50px;
  }
}

// 별점선택
.rating-select-container {
  display: flex;
  input {
    @include blind;
  }
  label {
    transition: 0.1s;
    display: block;
    position: relative;
    width: rem(46px);
    height: rem(44px);
    margin-left: rem(8px);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url('../images/components/icon-star-empty.svg');
    text-indent: -9999px;
    cursor: pointer;
    &.checked {
      background-image: url('../images/components/icon-star-full.svg');
    }
    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
}
